
    {{{body}}}
    {{!-- footer --}}
{{!-- <div class="footer">
            <!-- Begin Footer Static Middle Area -->
            <div class="footer-static-middle">
                <div class="containerr">
                    <div class="footer-logo-wrap pt-50 pb-35">
                        <div class="row">
                            <!-- Begin Footer Logo Area -->
                            <div class="col-lg-4 col-md-6">
                                <div class="footer-logo">
                                    <img src="./images/logo5.png" alt="Footer Logo">
                                </div>
                                <ul class="des">
                                    <li>
                                        Địa chỉ: 
                                        Công viên phần mềm Quang Trung, Quận 12, TP Hồ Chí Minh
                                    </li>
                                    <li>
                                        Số điện thoại:(+123) 123 321 345
                                    </li>
                                    <li>
                                        Email: jodd23855@gmail.com
                                    </li>
                                </ul>
                            </div>
                            <!-- Footer Logo Area End Here -->
                            <!-- Begin Footer Block Area -->
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="footer-block">
                                    <h3 class="footer-block-title">Thông tin</h3>
                                    <ul>
                                        <li><a href="#">Giới thiệu</a></li>
                                        <li><a href="#">Liên hệ công ty</a></li>
                                        <li><a href="#">Liên hệ hợp tác</a></li>
                                        <li><a href="#">Gia nhập TOTODAY</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Footer Block Area End Here -->
                            <!-- Begin Footer Block Area -->
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="footer-block">
                                    <h3 class="footer-block-title">Chính sách</h3>
                                    <ul>
                                        <li><a href="#">Chính sách thành viên</a></li>
                                        <li><a href="#">Chính sách hoàn tiền</a></li>
                                        <li><a href="#">Chính sách sản phẩm</a></li>
                                        <li><a href="#">Chính sách kiểm hàng</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Footer Block Area End Here -->
                            <!-- Begin Footer Block Area -->
                            <div class="col-lg-2">
                                <div class="footer-block">
                                    <h3 class="footer-block-title">Chính sách</h3>
                                    <ul>
                                        <li><a href="#">Chính sách thành viên</a></li>
                                        <li><a href="#">Chính sách hoàn tiền</a></li>
                                        <li><a href="#">Chính sách sản phẩm</a></li>
                                        <li><a href="#">Chính sách kiểm hàng</a></li>
                                    </ul>
     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-static-bottom pt-55 pb-55">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Begin Footer Links Area -->
                            <div class="footer-links">
                                <ul>
                                    <li><a href="#">Mua sắm trực tuyến</a></li>
                                    <li><a href="#">Khuyến mãi</a></li>
                                    <li><a href="#">Đơn hàng của tôi</a></li>
                                    <li><a href="#">Giúp đỡ</a></li>
                                    <li><a href="#">Dịch vụ khách hàng</a></li>
                                    <li><a href="#">Ủng hộ</a></li>
                                    <li><a href="#">Phổ biến nhất</a></li>
                                    <li><a href="#">Điểm đến mới</a></li>
                                    <li><a href="#">Sản phẩm đặc biệt</a></li>
                                    <li><a href="#">Nhà sản xuất</a></li>
                                    <li><a href="#">Cửa hàng của chúng tô</a></li>
                                    <li><a href="#">Vận chuyển</a></li>
                                    <li><a href="#">Thanh toán</a></li>
                                    <li><a href="#">Bảo hành</a></li>
                                    <li><a href="#">Hoàn tiền</a></li>
                                    <li><a href="#">Chi trả</a></li>
                                    <li><a href="#">Giảm giá</a></li>
                                    <li><a href="#">Hoàn tiền trả hàng</a></li>
                                    <li><a href="#">Chính sách vận chuyển</a></li>
                                </ul>
                            </div>
                            <!-- Footer Links Area End Here -->
                            <!-- Begin Footer Payment Area -->
                            <div class="copyright text-center">
                                <a href="#">
                                    <img src="./images/payment/1.png" alt>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Static Bottom Area End Here -->
        </div>
    </div>
    
</body>
</html> --}}
